<!--<div class="navbar navbar-default left-sidebar">
  <ul class="nav navbar-nav">
   <li><a routerLink="dashboard" routerLinkActive='active'>Dashboard</a></li>
   <li><a routerLink="users" routerLinkActive='active'>Users</a></li>
   <li><a routerLink="files" routerLinkActive='active'>Files</a></li>
  </ul>
</div>-->
<nav class="sidenav">
  <section class="sidenav-content">
    <a routerLink="dashboard" routerLinkActive='active' class='nav-link'>
      <clr-icon shape='analytics' size='24'></clr-icon>
      Dashboard
    </a>
    <a routerLink="users" routerLinkActive='active' class='nav-link'>
      <clr-icon shape='users' size='24'></clr-icon>
      Users
    </a>
    <a routerLink="files" routerLinkActive='active' class='nav-link'>
      <clr-icon shape='folder' size='24'></clr-icon>
      Files
    </a>

    <!--<section class="nav-group collapsible">
      <input id="tabexample1" type="checkbox">
      <label for="tabexample1">Collapsible Nav Element</label>
      <ul class="nav-list">
        <li><a class="nav-link">Link 1</a></li>
        <li><a class="nav-link">Link 2</a></li>
      </ul>
    </section>
    <section class="nav-group">
      <input id="tabexample2" type="checkbox">
      <label for="tabexample2">Default Nav Element</label>
      <ul class="nav-list">
        <li><a class="nav-link">Link 1</a></li>
        <li><a class="nav-link">Link 2</a></li>
        <li><a class="nav-link active">Link 3</a></li>
        <li><a class="nav-link">Link 4</a></li>
        <li><a class="nav-link">Link 5</a></li>
        <li><a class="nav-link">Link 6</a></li>
      </ul>
    </section>-->
  </section>
</nav>
