<clr-modal
  *ngIf='options$ | async'
  [clrModalOpen]='(options$ | async)?.open'
  (clrModalOpenChange)='onOpenChange($event)'
  >
  <h3 class="modal-title">{{ (options$ | async)?.title }}</h3>
  <div class="modal-body">
    <form>
      <section class='form-block'>
        <div class='form-group'>
          <label class='required'>Name</label>
          <label for='invite-email'
            aria-haspopup="true"
            role="tooltip"
            class="tooltip tooltip-validation tooltip-sm"
            [class.invalid]='(nameControl$ | async).errors && (nameControl$ | async).touched'>

            <input type='text' [formControl]='nameControl$ | async' id='invite-email'>

            <span
              *ngIf='(nameControl$ | async).hasError("required")'
              class='tooltip-content'>
              This field is required
            </span>

          </label>
        </div>
      </section>
    </form>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="cancel()">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="save()">Save</button>
  </div>
</clr-modal>
