<header class='header header-6'>
  <section class="branding">
    <a routerLink="/" class="nav-link">
      <clr-icon shape="home" class="icon-color-success"></clr-icon>
      <span class="title">Bertofer's Arxivum</span>
    </a>
  </section>
  <section class="header-nav">
    <a routerLink="/folder" *ngIf='authService.loggedIn' routerLinkActive="active" class='nav-link nav-icon'>
      <clr-icon shape='cloud'></clr-icon>
    </a>
  </section>
  <section class="header-actions">
    <!-- Authenticated -->
    <span class='nav-text nav-link' *ngIf="authService.loggedIn">{{authService.user.email}}</span>
    <clr-dropdown *ngIf="authService.loggedIn" class="dropdown bottom-right">
      <button class="nav-icon" clrDropdownToggle>
        <clr-icon shape="user"></clr-icon>
        <clr-icon shape="caret" class="icon-orient-down"></clr-icon>
      </button>
      <div class="dropdown-menu">
        <a (click)='authService.logout()' clrDropdownItem>Log out</a>
      </div>
    </clr-dropdown>

    <!-- Not authenticated -->
    <a routerLink='login' *ngIf='!authService.loggedIn' class="nav-link nav-text">
      Login
    </a>
  </section>
</header>
