<header class='header header-6'>
  <section class="branding">
    <a routerLink="/" class="nav-link">
      <clr-icon shape="home" class="is-success is-solid"></clr-icon>
      <span class="title">Bertofer's Arxivum</span>
    </a>
  </section>
  <section class="header-nav">
    <a
      routerLink="/folder"
      id='header-root-folder-link'
      *ngIf='authenticated$ | async'
      routerLinkActive="active"
      class='nav-link nav-icon'>
      <clr-icon shape='cloud' class='is-solid'></clr-icon>
    </a>
    <a
      routerLink="admin"
      id='header-root-folder-link'
      *ngIf='(authenticated$ | async)?.admin'
      routerLinkActive="active"
      class='nav-link nav-icon'>
      <clr-icon shape='users' class='is-solid'></clr-icon>
    </a>
  </section>
  <section class="header-actions">
    <!-- Authenticated -->
    <span
      id='header-user-email'
      class='nav-text nav-link'
      *ngIf='authenticated$ | async'>{{(authenticated$ | async).email}}</span>

    <clr-dropdown *ngIf='authenticated$ | async' class="dropdown bottom-right">
      <button class="nav-icon" clrDropdownToggle>
        <clr-icon shape="user" class='is-solid'></clr-icon>
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <div class="dropdown-menu">
        <a
        id='header-user-logout-link'
        (click)='store.dispatch(authActions.logout())'
        clrDropdownItem>Log out</a>
      </div>
    </clr-dropdown>

    <!-- Not authenticated -->
    <a
      id='header-login-link'
      routerLink='login'
      *ngIf='!(authenticated$ | async)'
      class="nav-link nav-text">
      Login
    </a>
    <a
      id='header-login-link'
      routerLink='register'
      *ngIf='!(authenticated$ | async)'
      class="nav-link nav-text">
      Register
    </a>
  </section>
</header>
