<div class="card">
  <div class="card-block">
    <!--<h4 class="card-title">{{file.name}}</h4>-->
    <p class="card-text">
      {{file.name}}
      speed data here
    </p>
  </div>
  <div class="card-footer">
    <div class="progress">
      <progress *ngIf='downloadData$ | async' [value]="(downloadData$ | async)?.progress" min="0" max='100'></progress>
      <span></span>
    </div>
    {{(downloadData$ | async)?.progress}} %
    <div class='list-item-actions'>
      <button
        class="btn btn-primary btn-sm"
        (click)='this.store.dispatch(downloaderActions.saveFile(file._id))'>
        <!--[disabled]='!file.decrypted'>-->
        <span *ngIf='file.finished'>Save</span>
        <!--<span *ngIf='file.decrypting' class='spinner spinner-inline'></span>-->
        <!--<span *ngIf='file.decrypting'>Decrypting</span>-->
      </button>
      <button
        class="btn btn-danger-outline btn-sm"
        (click)='this.store.dispatch(downloaderActions.removeFile(file))'>
        Remove
      </button>
    </div>
  </div>
</div>
