:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;

}

.subnav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  max-width: 100%;
  padding: 0px 15px;
}

ax-invite-user-modal {
  height: 0;
}
