/* Navbar override style from theme */
.navbar {
  a {
    height: 50px;
  }
}

/*
  @mixin that generates the styles for navbar. Admin & topbar.
  $hover: Position where to create thick border on hover
  $divider: Position where to put items divider
  $first: Position where to put a divider of the parent element
*/
@mixin apply-navbar-styles ($hover, $divider, $first) {
  .navbar-nav {
    @include border($first, 1, rgba(255,255,255,0.1));
  }
  li {
    a:hover {
      @include border($hover, 3, white);
    }
    @include border($divider, 1, rgba(255,255,255,0.1));
  }
  .active {
    @include border($hover, 3, white);
    background-color: darken($brand-primary, 10%);
  }
}

.left-sidebar {
  $hover: left;
  $first: top;
  $divider: bottom;
  @include apply-navbar-styles($hover, $first, $divider)
}

.navbar-fixed-top {
  $hover: top;
  $first: left;
  $divider: right;
  @include apply-navbar-styles($hover, $first, $divider)
}
