/* Custom variables for Arxivum sass */
$brand-primary:                   #2C3E50 !default;
$navbar-height:                   50px;
$navbar-default-link-hover-color: white;
$navbar-default-link-hover-bg:    darken($brand-primary, 10%);
