.pointer {
  cursor: pointer;
}

html, body {
  overflow-x: hidden;
}

// Forms
form {

  width: 500px;

  border: 1px solid #eee;
  background: white;

  .form-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    padding: 0px 35px;

    input[type='submit'] {
      // overrides button max
      max-width: none !important;
    }

    .form-group {
      padding-left: 120px;

      label:nth-child(2) {
        width: 100%;
      }

      input {
        width: 100%;
      }
    }
  }
}
