<section
  class='content-area'
  ng2FileDrop
  [ngClass]='{"drop-area-file-over": hasBaseDropZoneOver}'
  (fileOver)='fileOverDragArea($event)'
  (onFileDrop)='uploadFiles()'
  [uploader]='uploader'>

  <div class='drop-area-layer'>
    <div class='drop-area-border'>
      <span>Drop files to upload them to this folder</span>
    </div>
  </div>

  <div class='row flex-items-xs-between files-header'>
    <div class='col-xs-12 col-md-10 row flex-items-xs-left flex-xs-middle'>
      <ax-folders-breadcrumb [path]='path'></ax-folders-breadcrumb>
    </div>
    <div class="col-xs-12 col-md-2 flex-items-xs-right">
      <button class="btn btn-primary" (click)='wizard.open()'>New folder</button>
      <!--<button class="btn btn-outline">Upload file</button>-->
    </div>
  </div>

  <div class="row flex-items-xs-center">
    <div *ngFor='let folder of childFolders | async' class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <a class="card clickable" [routerLink]='["/folder", folder._id]'>
        <div class="card-header">
          <clr-icon shape='folder' class='icon-color-info'></clr-icon>
          <span>{{folder.name}}</span>
        </div>
        <div class="card-block" *ngIf='folder.description'>
          <p class="card-text">
            {{folder.description}}
          </p>
        </div>
      </a>
    </div>
    <div *ngIf="(childFolders | async)?.length === 0">
      Something will be here
    </div>
  </div>
</section>

<nav class="sidenav">
  <section class="sidenav-content">
    <ax-file-tree></ax-file-tree>
  </section>
</nav>

<ax-create-folder-wizard #wizard (onFinished)='wizardCreateFolderFinished($event)'></ax-create-folder-wizard>
