:host {
  all: inherit;
  .content-area {
    text-align: center;
    padding: 0px;

    table {
      margin: 0px;
      border: none;
      border-radius: 0px;
    }
  }

  .sidenav-content {
    padding: 10px;
  }
}

section {
  position: relative;
}

/* Header including breadcrumb and new folder button */
.files-header {
  margin: 0px;
}

/* Drop area */
.drop-area-layer {
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;

  display:none;

  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0.2;

  z-index: 100;
  position: absolute;
  pointer-events: none;

  .drop-area-border {
    width: 100%;
    height: 100%;
    border: 3px dotted black;

    display: flex;
    justify-content: center;
    align-items: center;

    span {
      font-size: 3em;
      line-height: 1.2em;
    }
  }
}

.drop-area-file-over > .drop-area-layer {
  display: block;
}


// Table styles
.row-action {
  cursor: pointer;
  margin-right: 20px;
}

.admin-action-icon {
  margin-left: 10px;
  cursor: pointer;
}

.row-actions {
  text-align: right;
}

.folder-icon {
  color: rgb(255, 215, 0);
}

.selected {
  background: rgb(250, 250, 250);
}

// File size text
.file-size {
  font-size: 0.8em;
  color: rgb(169, 169, 169);
}
