:host {
  all: inherit;
  .content-area {
    text-align: center;
  }

  .sidenav-content {
    padding: 10px;
  }
}

section {
  position: relative;
}

/* Header including breadcrumb and new folder button */
.files-header {
  margin: 0px;
}

/* Drop area */
.drop-area-layer {
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;

  display:none;

  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0.2;

  z-index: 100;
  position: absolute;
  pointer-events: none;

  .drop-area-border {
    width: 100%;
    height: 100%;
    border: 3px dotted black;

    display: flex;
    justify-content: center;
    align-items: center;

    span {
      font-size: 3em;
      line-height: 1.2em;
    }
  }
}

.drop-area-file-over > .drop-area-layer {
  display: block;
}

// Card footer align items left
.card-footer {
  display: flex;

  flex-direction: row;
  justify-content: left;
}
