<section
  class='content-area'
  ng2FileDrop
  [ngClass]='{"drop-area-file-over": hasBaseDropZoneOver}'
  (fileOver)='fileOverDragArea($event)'
  (onFileDrop)='uploadFiles()'
  [uploader]='uploaderService.uploader'
  (click)='select(null, $event)'>

  <div class='drop-area-layer'>
    <div class='drop-area-border'>
      <span>Drop files to upload them to this folder</span>
    </div>
  </div>

  <div class='row flex-items-xs-between files-header'>
    <div class='col-xs-12 col-md-10 row flex-items-xs-left flex-xs-middle'>
      <ax-folders-breadcrumb [path]='(currentFolder$ | async)?.path'></ax-folders-breadcrumb>
    </div>
    <div class="col-xs-12 col-md-2 flex-items-xs-right">
      <button class="btn btn-primary" (click)='wizard.open()'>New folder</button>
    </div>
  </div>

  <table class='table'>
    <tbody>
      <tr
        *ngFor='let folder of (currentFolder$ | async)?.folders'
        class='folder-row'
        [ngClass]="{selected: folder === selected}"
        (click)='select(folder, $event)'
        (dblclick)='navigate(folder)'>
        <td class='left'>
          <!--<a [routerLink]='["/folder", {id: folder._id}] '>-->
            <clr-icon shape='folder' class='folder-icon is-solid'></clr-icon>
            <span>{{folder.name}}</span>
          <!--</a>-->
        </td>
        <td class='row-actions'>
        </td>
      </tr>
      <tr
        *ngFor='let file of (currentFolder$ | async)?.files'
        class='file-row'
        [ngClass]="{selected: file === selected}"
        (click)='select(file, $event)'
        (dblclick)='downloadFile(file)'>
        <td class='left'>
          <clr-icon shape='file' class='file-icon is-info is-solid'></clr-icon>
          <span>{{file.name}} <span class='file-size'>{{file.size | filesize}}</span></span>
          <a (click)='return'>
            <clr-icon shape='edit'
              class='is-info admin-action-icon'
              *ngIf='(authenticated$ | async)?.admin && this.selected === file'></clr-icon>
          </a>
          <a (click)='return'>
            <clr-icon shape='remove'
              class='is-danger admin-action-icon'
              *ngIf='(authenticated$ | async)?.admin && this.selected === file'></clr-icon>
          </a>
        </td>
        <td class='row-actions'>
          <span *ngIf='fileDownloaderService.downloadingFiles[file._id]'> {{fileDownloaderService.downloadingFiles[file._id].progress | async | percent:'1.0-0'}} </span>
          <a class="row-action" (click)='downloadFile(file);'>
            <clr-icon shape='download'>
            </clr-icon>
          </a>
        </td>
      </tr>
      <tr>
        <td *ngIf="(childFolders | async)?.length === 0 && (childFiles | async)?.length === 0">
          Oops! Seems like you don't have anything here yet
        </td>
      </tr>
    </tbody>
  </table>
</section>

<nav class="sidenav">
  <section class="sidenav-content">
    <ax-file-tree></ax-file-tree>
  </section>
</nav>

<ax-right-sidebar></ax-right-sidebar>

<ax-create-folder-wizard #wizard (onFinished)='wizardCreateFolderFinished($event)'></ax-create-folder-wizard>
