<!-- <div id='player' #renderMedia>
</div>

<div id='testplayer' #renderMediaTest>
</div> -->

<div class='files-container'>
  <div class="content-area">
    <router-outlet></router-outlet>
  </div>

  <nav class="sidenav">
    <section class="sidenav-content">
      <button class="btn btn-link" tabIndex="-1" (click)='filesPageService.goTo("list")'>
          <clr-icon shape='bars' size='18'></clr-icon>   List
      </button>
      <button class="btn btn-link" tabIndex="-1" (click)='filesPageService.goTo("downloads")'>
          <clr-icon shape='download' size='18'></clr-icon>
          Downloads
          <span class='badge' [ngClass]='downloadsBadgeColor$ | async'
            *ngIf='downloadsBadge$ | async'>{{downloadsBadge$ | async}}</span>
      </button>

      <button
        *ngIf='(filesPageService.authenticated$ | async)?.admin'
        class="btn btn-link" tabIndex="-1" (click)='filesPageService.goTo("uploads")'>
          <clr-icon shape='upload' size='18'></clr-icon>   Uploads
          <span class='badge' [ngClass]='uploadsBadgeColor$ | async'
            *ngIf='uploadsBadge$ | async'>{{uploadsBadge$ | async}}</span>
      </button>
    </section>
  </nav>

  <!-- <ax-right-sidebar></ax-right-sidebar> -->
</div>
