.content-area {
  padding: 0px !important;
  height: 100%;
  background-image: url('../../../../assets/users-background.jpg');
  background-repeat: repeat;
}

table {
  border-radius: 0px;
  border: none;
  tr {
    height: 55px;
    border-bottom: 1px solid #eee;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
