<section class='content-area'>
  <button class='btn btn-primary' (click)='inviteUserModal.open()'>Invite user</button>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" *ngFor='let invitation of invitations$ | async'>
        <div class="card">
            <div class="card-block">
                <div class="card-title">
                    {{invitation.email}}
                </div>
                <div class="card-text">
                    Invitation sent. Not yet registered.
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-sm btn-link">Resend invitation</button>
                <button class="btn btn-sm btn-link">Delete invitation</button>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" *ngFor='let user of users$ | async'>
        <div class="card">
            <div class="card-block">
                <div class="card-title">
                    {{ user.email }}
                </div>
                <!--<div class="card-text">
                    Invitation sent. Not yet registered.
                </div>-->
            </div>
            <div class="card-footer">
                <!--<button class="btn btn-sm btn-link">Resend invitation</button>
                <button class="btn btn-sm btn-link">Delete invitation</button>-->
            </div>
        </div>
    </div>
  </div>
</section>

<ax-invite-user-modal #invitUserModal (onFinished)='inviteUser($event)'></ax-invite-user-modal>
