<section class='content-area'>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-block">
                <div class="card-title">
                    alberto.fernandez.491@gmail.com
                </div>
                <div class="card-text">
                    Invitation sent. Not yet registered.
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-sm btn-link">Resend invitation</button>
                <button class="btn btn-sm btn-link">Delete invitation</button>
            </div>
        </div>
    </div>
  </div>
</section>
