<nav class='sidebar' [ngClass]='{"nav-shown": shown}' *ngIf='shouldDisplay$ | async'>
  <ul class='header header-6'>
    <li class='header-nav' *ngIf='(uploading$ | async)?.files.length > 0'>
      <a class='nav-link nav-icon' (click)='toggle("uploader")' [ngClass]='{"active": shown === "uploader"}'>
        <clr-icon shape='upload' size='24' >

        </clr-icon>
        <span
          class="badge"
          [ngClass]='uploaderBadge$ | async'>
          {{ (uploading$ | async)?.files.length }}
        </span>
      </a>
    </li>
    <li class='header-nav' *ngIf='(downloading$ | async)?.files.length > 0'>
      <a class='nav-link nav-icon' (click)='toggle("downloader")' [ngClass]='{"active": shown === "downloader"}'>
        <clr-icon shape='download' size='24' >

        </clr-icon>
        <span
          class="badge"
          [ngClass]='downloaderBadge$ | async'>
          {{ (downloading$ | async)?.files.length }}
        </span>
      </a>
    </li>
  </ul>
  <div class='content'>
    <div id='uploader-content' *ngIf='this.shown === "uploader"'>
      <div class='content-title'>
        <h3>uploads</h3>
      </div>
      <ax-upload-item
        *ngFor='let file of (uploading$ | async)?.files'
        [file]='file'>
      </ax-upload-item>
    </div>
    <div id='downloader-content' *ngIf='this.shown === "downloader"'>
      <div class='content-title'>
        <h3><b>downloads</b></h3>
      </div>
      <ax-download-item
        *ngFor='let file of (downloading$ | async)?.files'
        [file]='file'>
      </ax-download-item>
    </div>
  </div>
</nav>
