nav {
  position: fixed;
  height: 100%;
  width: 360px;
  right: -300px;
  display:flex;
  justify-content: horizontal;

  //
  -webkit-transition: right 0.3s;
  -moz-transition: right 0.3s;
  transition: right 0.3s;

  .content {
    width: 300px;
    height: 100%;
    background: rgb(250,250,250);
    box-shadow: -2px 0px 5px -3px black;

    .list-item {
      height: 120px;
      width: 100%;
      border-bottom: 1px solid rgb(204, 204, 204);
      padding: 20px;

      display: flex;
      flex-direction: column;
      justify-content: space-around;
      // flex-shrink: 1;

      span {
        //width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      progress {
        width: 100%;
      }

      .list-item-actions {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        width: 100%;
      }
    }
  }

  ul {
    width: 60px;

    list-style-type: none;

    flex-direction: column;

    margin-top: 80px;
    li {
      display: block;
      background: #002538;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        width: 60px;
        height: 60px;
        line-height: 60px;

        span {
          z-index: 101;
          margin-top: -22px;
          margin-right: -22px;
        }
      }
    }
  }
}



.nav-shown {
  right: 0px;
}
