nav {
  position: fixed;
  height: 100%;
  width: 360px;
  right: -300px;
  display:flex;
  justify-content: horizontal;

  //
  -webkit-transition: right 0.3s;
  -moz-transition: right 0.3s;
  transition: right 0.3s;

  .content {
    width: 300px;
    height: 100%;
    background: rgb(250,250,250);
    box-shadow: -2px 0px 5px -3px black;

    .list-item {
      height: 75px;
      width: 100%;
      border-bottom: 1px solid rgb(204, 204, 204);
      padding: 20px;

      progress {
        width: 100%;
      }
    }
  }

  ul {
    width: 60px;
    background: #002538;
    list-style-type: none;

    margin-top: 80px;
    li {
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        width: 60px;
        height: 60px;
        line-height: 60px;

        span {
          z-index: 101;
          margin-top: -22px;
          margin-right: -22px;
        }
      }
    }
  }
}

.nav-shown {
  right: 0px;
}
